{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Drive{% else %}Welcome to Drive{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href={{ url_for('buckets_list', region_name="global") }}>Drive</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block header %}{% endblock %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}